* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #65e5ff;
    background-image: 
        radial-gradient(farthest-corner at 0px 0px, #e600ff 0%, #00d5ff00 60%),
        radial-gradient(farthest-corner at 100vw 100vh, #e600ff 0%, #e600ff00 60%);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 18px;
}

header{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu ul{
    background-color: #ffffffd0;
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    font-family: 'Balsamiq Sans','Lucida Sans', sans-serif;
}

.menu a{
    display: block;
    padding: 2vh;
    text-decoration: none;
    color:black;
}

.menu a:active,
.menu a:hover{
    text-shadow: 0px 0px .5px black;
}

.media{
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.media i{
    font-size: 2.5em;
    margin: 5px;
}

.media a{
    text-decoration: none;
    color:black;
}

.media a:hover{
    text-shadow: 0 0 10px #ffffff83;
}

.info{
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
}

hr {
    border-top: 0;
    border-bottom: 0;
    background-color: black;
    height: 1px;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.opaque-page{
    background-color: #ffffff83;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .avatar img{
    width:300px;
}

.about .avatar{
    float: right;
    margin-left: 20px;
}

.projects p,
.about p{
    text-align: justify;
    margin-top: 20px;
}

.experience-list {
    list-style-position: inside;
}

.experience-list li {
    text-align: justify;
    margin-top: 20px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Balsamiq Sans','Lucida Sans', sans-serif;
}

.title {
    text-align: center;
    font-family: 'Balsamiq Sans','Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}
.full-size-img {
    width: 100%;
    height: auto;
}

.project-img-right{
    display: flex;
    flex-direction: row-reverse;
}

.project-trivia{
    display: flex;
    flex-direction: column;
}

.trivia-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#me-dojo{
    max-width: 350px;
    margin-left: 20px;
}
.separation-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: #ffffff83;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    color: gray;
    text-align: center;
}

@media (min-width: 500px) {
    section {
        width: 80vw;
    }
    .opaque-page {
        padding: 5vw;
    }
}

@media (max-width: 500px) {
    section {
        width: 98vw;
    }
    .opaque-page {
        padding: 5px;
    }
}

@media (max-width: 850px) {
    .about .avatar{
        float: none;
        margin-left: 0;
        display:flex;
    }
    .about .avatar img{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1000px) {
    #me-dojo{
        max-width: 300px;
        margin-left: 0;
    }
    .project-img-right {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1300px) {
    .trivia-img{
        width: 49%;
        height: auto;
        margin-bottom: 5px;
    }
}
@media (min-width: 1300px) {
    .trivia-img{
        width: 24%;
        height: auto;
    }
}